.env
### Java ###
*.class
*.jar
*.war
*.ear
*.log

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Spring Boot ###
*.db
*.h2.db

### IntelliJ ###
.idea/
*.iml
*.iws
out/

### VSCode ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Docker ###
/postgres_data